#cloud-config
hostname: debian-build-agent-${instance_id}
fqdn: debian-build-agent-${instance_id}.build.solemnwarning.net

users:
  - name: root
    lock_passwd: false
    hashed_passwd: ${root_password.bcrypt_hash}

bootcmd:
  # Set proxy to be used by APT (including chroots)
  - for f in / /srv/chroot/*/
  - do
  -   echo 'Acquire::http::Proxy "${apt_proxy_url}";' > "$f/etc/apt/apt.conf.d/proxy.conf"
  -   echo 'Acquire::https::Proxy "${apt_proxy_url}";' >> "$f/etc/apt/apt.conf.d/proxy.conf"
  - done

  # Set proxy to be used by buildkite agent
  - mkdir /etc/systemd/system/buildkite-agent.service.d
  - cat > /etc/systemd/system/buildkite-agent.service.d/proxy.conf <<EOF
  - "[Service]"
  - Environment=http_proxy=${http_proxy_url}
  - Environment=https_proxy=${http_proxy_url}
  - EOF
  - systemctl daemon-reload

  # Inject Buildkite agent token
  - sed -i -e 's/BUILDKITE_AGENT_TOKEN/${buildkite_agent_token}/g' /etc/buildkite-agent/buildkite-agent.cfg

runcmd:
  # Force DHCP release so our (new) hostname gets inserted into DNS
  # https://serverfault.com/a/970459
  - dhclient -r
  - dhclient
